@import '../../assets/styles/variables.scss';

.card {
  width: min-content;
  display: flex;
  flex-direction: column;

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
    align-items: flex-start;
    background: #ecedf1;
  }

  &__date {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #424242;
  }

  &__status {
    margin-bottom: -1px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: $dark-color;
  }

  &__description {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: $dark-color;
  }

  &__link-group {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #fff;
    background: $dark-color;
    padding: 6px 10px;
    text-decoration: none;
    transition: 0.2s ease-in;
    border: 1px solid $dark-color;

    &:hover {
      background: #fff;
      color: $dark-color;
      border: 1px solid $dark-color;
    }
  }
}
