@import '../../assets/styles/variables.scss';

.login {
  &__submit {
    &.MuiButton-root {
      padding: 10px 40px;
    }
  }

  &__hero {
    height: calc(100vh - 292px);
  }

  &__form {
    height: 100%;
    position: relative;
  }

  &__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: 40px;
    line-height: 50px;
  }

  &__field.MuiFormControl-root {
    margin-bottom: 20px;

    & p.Mui-error {
      color: $error-color;
      font-family: $inter-font;
    }

    & .Mui-error fieldset.MuiOutlinedInput-notchedOutline {
      border-color: $error-color;
    }

    & fieldset.MuiOutlinedInput-notchedOutline {
      border-color: $dark-color;
    }
  }

  & .MuiFormControl-root {
    position: relative;

    p.Mui-error {
      position: absolute;
      top: 100%;
      transform: translate(0, -25%);
    }
  }
}
